<section id="slides">
    
  <!-- Carousel -->
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <% @products.each_with_index do |product, n| %>
        <li data-target="#carouselExampleIndicators" data-slide-to="<%= n + 1 %>"></li>
      <% end %>
    </ol>

    <!-- Carousel items -->
    <div class="carousel-inner">
      
      <!-- Static item -->
      <div class="carousel-item active">
        <div class="overlay"></div>
        <div class="custom-carousel-image" style="background-image: url('/assets/blue_bike_cropped.jpg'); alt="First slide">
        </div>
        <div class="carousel-caption d-md-block">
          <h1>Welcome to Bike Berlin</h1>
          <p>Your source for used bikes in Berlin</p>
        </div>
      </div>
      
      <!-- Dynamic items -->
      <!-- @products is limited to the first two items in the database (done in simple_pages_controller) -->
      <% @products.each do |product| %>
        <div class="carousel-item">   
          <div class="overlay"></div>
          <div class="custom-carousel-image" style="background-image: url('<%= product.image_url %>');">
          </div>
          <!-- Carousel captions -->
          <div class="carousel-caption d-md-block">
            <h1><%= product.name %></h1>
            <p>$<%= product.price %></p>
          </div>
        </div>
        
      <% end %> 
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div><!-- end carousel -->
</section>
<!-- Three column grid -->
<section id="three-column-grid" class="content-home">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <i class="column-icon fas fa-glasses"></i>
        <h3>hipster horses</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum corporis assumenda libero repellendus, necessitatibus praesentium nulla! Quis quod maxime minus neque dolore ab nulla, numquam. Adipisci esse dolores soluta perferendis.
        </p>
      </div>
      <div class="col-md-4 text-center">
        <i class="column-icon fas fa-bolt"></i>
        <h3>e-bikes</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum corporis assumenda libero repellendus, necessitatibus praesentium nulla! Quis quod maxime minus neque dolore ab nulla, numquam. Adipisci esse dolores soluta perferendis.
        </p>
      </div>
      <div class="col-md-4 text-center">
        <i class="column-icon fas fa-smile"></i>
        <h3>awesome deals</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum corporis assumenda libero repellendus, necessitatibus praesentium nulla! Quis quod maxime minus neque dolore ab nulla, numquam. Adipisci esse dolores soluta perferendis.
        </p>
      </div>
    </div><!-- end three column grid -->
</section>
<!-- Latest arrivals / changed to featured product -->
<section id="arrivals" class="content-home">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Featured Products</h3>
      </div>
        <% cache 'featured-bikes', expires_in: Time.now.beginning_of_hour + 1.hour do %>
          <%= render @featured_products %>        
        <% end %>
    </div>
  </div>
</section>
<!-- Latest arrivals / changed to featured product -->
<section id="words" class="content-home">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Word of the hour</h3>
      </div>
      <div class="col-md-12">
        <% cache 'word-of-the-hour', expires_in: Time.now.beginning_of_hour + 1.hour do %>
          <%= %w(happy developer watch drifting ruby screencasts about rails).sample %>
        <% end %>
      </div>
    </div>
  </div>
</section>