<%= render 'shared/decoration_string' %>
<section class="show-product">
  <div class="row" data-product-id="<%= @product.id %>">
    <div class="col-12 col-sm-6 product-image">
      <%= product_zoom_image_tag @product %>
    </div>
    <div class="col-12 col-sm-6 order-sm-first product-info">
      <div class="product-info-main">
        <% cache @product do %>
          <h3><%= @product.name %></h3>
          <hr />
          <p><%= @product.description %></p>
          <p>Colour: <%= @product.colour %></p>
        <% end %>
        <div>Average Rating: &nbsp;
          <div class="rated" id="average-rating" data-score="<%= @product.average_rating %>"></div>
        </div>
      </div>
      <div class="product-info-bottom">

        <div class="price">
          <%= number_to_currency(@product.price_in_euro) %>
        </div>
        <hr />
        <p>
          <% if user_signed_in? %>
            <%= form_with(url: payments_create_path) do |form| %>
              <%= hidden_field_tag(:product_id, @product.id) %>
              <%= render partial: "shared/stripe_checkout_button", locals: {product: @product}%>
            <% end %>
          <% else %>
            Please <%= link_to 'sign in', new_user_session_path, class: "edit-link" %>
            or <%= link_to 'sign up', new_user_registration_path, class: "edit-link" %> to buy!
          <% end %>
        </p>
        <p>
          <%= link_to 'Back', products_path, class: "edit-link" %>
          <% if admin_signed_in? %>
            &bull;
            <%= link_to 'Edit', edit_product_path(@product), class: "edit-link"%> &bull;
            <%= link_to 'Destroy', @product, class: "edit-link",
                           method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
          <br /><small><i><%= pluralize(@view_count, "view") %></i></small>
        </p>
      </div>
    </div>
  </div><!-- end row -->
  <div class="comments">
    <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
    <%= render "new_comment" %>
    <div id="comments">
      <script>
        $.get("<%= product_comments_path(@product) %>", { product_id: <%= @product.id %>, page: 1 });
      </script>
    </div>
  </div>
  <% if admin_signed_in? %>
    <hr>
    <h4>Orders for this product</h4>
    <p>
      <% @product.orders.each do |order| %>
        <strong>Order ID: </strong><%= order.id %> &mdash;
        <strong>User: </strong><%= order.user.email %> &mdash;
        <i>ordered <%= "#{time_ago_in_words(order.created_at)} ago" %></i>
        <%= render partial: "shared/destroy_button", locals:{object: order} %>
        <br />
      <% end %>
    </p>
  <% end %>

</section>
<%= render 'shared/decoration_string' %>