<section class="content">
  <div class="container">
    <div class="row" data-product-id="<%= @product.id %>">

      <%= render 'product', product: @product %>

      <div class="product-col col-sm-12 col-md-4 col-lg-4">
        <% if @comments.exists? %>
          <h4>Average Rating:</h4>
          <div id="average-rating" class="rated" data-score="<%= @product.average_rating %>"></div>
          <p></p>
          
          <h4>Best review</h4>
          <div id="highest-rating" class="rated" data-score="<%= @product.highest_rating_comment.rating %>"></div>        
          <p>
            <b id="highest-rating-user"><%= @product.highest_rating_comment.user.first_name %> says:</b>
            <span id="highest-rating-comment"><%= @product.highest_rating_comment.body %></span>
          </p>
          
          <h4>Worst review</h4>
          <div id="lowest-rating" class="rated" data-score="<%= @product.lowest_rating_comment.rating %>"></div>
          <p> 
            <b id="lowest-rating-user"><%= @product.lowest_rating_comment.user.first_name %> says:</b>
            <span id="lowest-rating-comment"><%= @product.lowest_rating_comment.body %></span>
          </p>
        <%end%>
      </div>
    </div>
    
    <div class="row">
      <div class="product-col col-sm-12 col-md-2 col-lg-2">
        <%= link_to 'Back', products_path, class: "btn btn-outline-success my-2 my-sm-0" %>
        <% if signed_in? && current_user.admin? %>
            <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-outline-success my-2 my-sm-0" %>
          <% end %>
      </div>
      <div class="product-col col-sm-12 col-md-2 col-lg-2">
        <%= form_with(url: '/payments/create') do |form| %>
          <%= render partial: "shared/stripe_checkout_button" %>
          <%= hidden_field_tag(:product_id, @product.id) %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<!-- Comments -->

<section>
  <div class="container">
    <div class="row">
      <div class="product-col col-sm-12 col-md-4 col-lg-4">
        <% if @comments.exists? %>
          <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
          <%= render 'comments' %>
          <div class="flickr_pagination">
            <%= will_paginate @comments %>
          </div>
        <% end %>
          <%= render 'new_comment' %>
      </div>
    </div>
  </div>
</section>